<!-- templates/fragment/carStereoList.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <!--/*@thymesVar id="pagedCarStereos" type="org.springframework.data.domain.Page<dev.wildilde.car_stereo_wiki.entity.CarStereo>"*/-->
        <div th:fragment="carStereoList(pagedCarStereos)">
            <table class="table is-fullwidth is-striped">
                <thead>
                <tr>
                    <th>Brand</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Size</th>
                    <th>Display</th>
                    <th>Inputs</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="carStereo : ${pagedCarStereos}">
                    <td>
                        <div th:replace="~{fragment/tagBox :: tagBox(${carStereo.brands})}"></div>
                    </td>
                    <td>
                        <a th:href="@{/carStereo/{name}(name=${carStereo.name})}" th:text="${carStereo.name}"></a>
                    </td>
                    <td th:text="${carStereo.year}"></td>
                    <td>
                        <div th:replace="~{fragment/tagBox :: tagBox(${carStereo.sizes})}"></div>
                    </td>
                    <td>
                        <div th:replace="~{fragment/tagBox :: tagBox(${carStereo.displays})}"></div>
                    </td>
                    <td>
                        <div th:replace="~{fragment/tagBox :: tagBox(${carStereo.inputs})}"></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <p class="notification" th:if="${pagedCarStereos == null or pagedCarStereos.isEmpty()}">
                No car stereos were found.
            </p>

            <nav class="pagination is-centered" role="navigation" aria-label="pagination" th:if="${pagedCarStereos != null}">
                <a class="pagination-previous" th:href="@{/search(page=${pagedCarStereos.number - 1}, query=${param.query}, brand=${param.brand}, year=${param.year}, size=${param.size}, display=${param.display}, input=${param.input}, sortBy=${param.sortBy}, sortDir=${param.sortDir})}" th:disabled="${pagedCarStereos.first}">&laquo; Previous</a>
                <a class="pagination-next" th:href="@{/search(page=${pagedCarStereos.number + 1}, query=${param.query}, brand=${param.brand}, year=${param.year}, size=${param.size}, display=${param.display}, input=${param.input}, sortBy=${param.sortBy}, sortDir=${param.sortDir})}" th:disabled="${pagedCarStereos.last}">Next &raquo;</a>
                <ul class="pagination-list">
                    <li th:each="i : ${#numbers.sequence(0, pagedCarStereos.totalPages - 1)}">
                        <a class="pagination-link"
                           th:classappend="${i == pagedCarStereos.number} ? 'is-current'"
                           th:href="@{/search(page=${i}, query=${param.query}, brand=${param.brand}, year=${param.year}, size=${param.size}, display=${param.display}, input=${param.input}, sortBy=${param.sortBy}, sortDir=${param.sortDir})}" th:text="${i + 1}"
                           th:aria-label="'Goto page ' + ${i + 1}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>