<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<!--/*@thymesVar id="galleryImages" type="java.util.List"*/-->
    <div th:fragment="gallery(galleryImages, altText)" class="block">

        <!-- Gallery Big Image -->
        <div class="block">
            <figure class="image is-4by3">
                <img class="gallery-big-image" th:if="${galleryImages.size() > 0}" th:src="${galleryImages.get(0).imageURL}" th:alt="${altText}">
            </figure>
        </div>

        <!-- Modal for the full-size image -->
        <div id="image-modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <p class="image">
                    <img id="modal-image" src="" alt="Full size image">
                </p>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>

        <!-- Gallery Thumbnails -->
        <div class="block">
            <div class="grid is-col-min-3">
                <div class="cell" th:each="galleryImage : ${galleryImages}">
                    <figure class="image is-square">
                        <img th:class="${'gallery-thumbnail' + (galleryImages.indexOf(galleryImage) == 0 ? ' is-focused' : '')}"
                             th:src="${galleryImage.imageURL}" th:alt="${'Image' + (galleryImages.indexOf(galleryImage) + 1)}"
                             >
                    </figure>
                </div>
                <!-- Add empty cells to fill the first row of grid -->
                <div class="cell" th:if="${galleryImages.size() < 5}"></div>
                <div class="cell" th:if="${galleryImages.size() < 4}"></div>
                <div class="cell" th:if="${galleryImages.size() < 3}"></div>
                <div class="cell" th:if="${galleryImages.size() < 2}"></div>
            </div>
        </div>
    </div>
</body>
</html>