<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation" th:fragment="header">

      <div class="navbar-brand">
          <!-- Left side logo + website name-->
          <a class="navbar-item" href="/">
              <strong>Car Stereo Wiki</strong>
          </a>

          <!-- Burger menu (mobile only) -->
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </div>

      <div class="navbar-menu" id="navbarMenu">
          <!-- Left side search bar (desktop only) -->
          <div class="navbar-start">
              <div class="navbar-item">
                  <form action="/search" method="get">
                      <div class="field has-addons">
                          <div class="control">
                              <input class="input" type="text" name="query" placeholder="Search by name..." th:value="${query}">
                          </div>
                          <div class="control">
                              <button type="submit" class="button is-info">
                                  Search
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <!-- Right side login/logout buttons (desktop only)-->
          <div class="navbar-end">
              <div class="navbar-item">
                  <div class="header-buttons loggedout">
                      <a class="button is-light" href="/oauth2/authorization/github">
                          Log in
                      </a>
                  </div>
                  <div class="header-buttons loggedin is-hidden">
                      <a class="button is-light">
                          <span id="username"></span>
                      </a>
                      <a class="button is-danger" id="logout">
                          Log Out
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </nav>
</body>
</html>