.tagHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* We still want to let Bulma handle .tag but maybe add some overrides if needed */
.tag a {
    color: inherit;
    text-decoration: none;
}