body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-bottom: 0;
}

.navbar-end .navbar-item {
    gap: 0.75rem;
}

.navbar-item img {
    filter: brightness(0) invert(1);
}