<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(pageTitle, description, image)">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${pageTitle}">Car Stereo Wiki</title>

    <!-- OpenGraph Meta Tags -->
    <meta property="og:title" th:content="${pageTitle}" />
    <meta property="og:type" content="website" />
    <meta th:if="${description != null}" property="og:description" th:content="${description}" />
    <meta th:if="${image != null}" property="og:image" th:content="${image}" />

    <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>

    <script src="/js/header.js"></script>
    <link rel="stylesheet" href="/css/tag.css" />
    <link rel="stylesheet" href="/css/template.css" />
    <link rel="stylesheet" href="/css/pricingInfo.css" />
</head>
<body>
    <header th:fragment="header">
        <div th:replace="~{fragment/header :: header}"></div>
    </header>

    <footer th:fragment="footer">
        <div th:replace="~{fragment/footer :: footer}"></div>
    </footer>
</body>
</html>