<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: head(
    pageTitle=${carStereo.name} + ' - Car Stereo Wiki', 
    description=${carStereo.description}, 
    image=${(carStereo.galleryImages != null && !carStereo.galleryImages.isEmpty()) ? carStereo.galleryImages[0].imageURL : null}
)}">
    <title th:text="${carStereo.name} + ' - Car Stereo Wiki'">Car Stereo Details</title>
</head>
<link rel="stylesheet" href="/css/gallery.css">
<script src="/js/gallery.js"></script>
<body>
    <header th:replace="~{template :: header}"></header>
    <section class="section">
        <div class="container">
            <div class="columns is-flex">
                <!-- Side column -->
                <div class="column is-one-third is-flex" th:if="${carStereo.galleryImages != null && !carStereo.galleryImages.isEmpty()}">
                    <div class="box is-flex-grow-1">
                        <!-- Gallery -->
                        <div th:replace="~{fragment/gallery :: gallery(${carStereo.galleryImages}, ${carStereo.name})}"></div>

                        <!-- Pricing Info -->
                        <div class="content block" th:if="${carStereo.pricingInfos != null && !carStereo.pricingInfos.isEmpty()}">
                            <h3 class="is-size-5">Pricing Info</h3>
                            <div th:each="info : ${carStereo.pricingInfos}" class="block">
                                <div th:replace="~{fragment/pricingInfo :: pricingInfo(${info})}"></div>
                            </div>
                        </div>

                        <!-- Resources -->
                        <div class="content block" th:if="${carStereo.resources != null && !carStereo.resources.isEmpty()}">
                            <h3 class="is-size-5">Resources</h3>
                            <div th:each="resource : ${carStereo.resources}">
                                <a th:href="${resource.link}" target="_blank">
                                    <span class="icon"><i th:class="${resource.getIcon()}"></i></span>
                                    <span th:text="${resource.name}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Details column -->
                <div class="column is-flex">
                    <div class="box is-flex-grow-1">
                        <div class="is-flex is-justify-content-space-between is-align-items-center">
                            <h1 class="title" th:text="${carStereo.name}"></h1>
                            <a class="button is-small is-link" th:href="@{/carStereo/{name}/edit(name=${carStereo.name})}" th:if="${isAdmin}">Edit</a>
                        </div>
                        <h2 class="subtitle" th:text="'Year: ' + ${carStereo.year}"></h2>

                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Brand</th>
                                    <th>Size</th>
                                    <th>Display</th>
                                    <th>Inputs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div th:replace="~{fragment/tagBox :: tagBox(${carStereo.brands})}"></div></td>
                                    <td><div th:replace="~{fragment/tagBox :: tagBox(${carStereo.sizes})}"></div></td>
                                    <td><div th:replace="~{fragment/tagBox :: tagBox(${carStereo.displays})}"></div></td>
                                    <td><div th:replace="~{fragment/tagBox :: tagBox(${carStereo.inputs})}"></div></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="content">
                            <h3 class="is-size-5">Description</h3>
                            <p style="white-space: pre-wrap;" th:text="${carStereo.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{template :: footer}"></footer>
</body>
</html>
