<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: head(${carStereo.name} + ' - Car Stereo Wiki')}">
    <title th:text="${carStereo.name} + ' - Car Stereo Wiki'">Car Stereo Details</title>
</head>
<body>
    <header th:replace="~{template :: header}"></header>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third" th:if="${carStereo.image != null}">
                    <figure class="image">
                        <img th:src="${carStereo.image}" th:alt="${carStereo.name}">
                    </figure>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="is-flex is-justify-content-space-between is-align-items-center">
                            <h1 class="title" th:text="${carStereo.name}"></h1>
                            <a class="button is-small is-link" th:href="@{/carStereo/{name}/edit(name=${carStereo.name})}" th:if="${isAdmin}">Edit</a>
                        </div>
                        <h2 class="subtitle" th:text="'Year: ' + ${carStereo.year}"></h2>
                        
                        
                        
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Brand</th>
                                    <th>Size</th>
                                    <th>Display</th>
                                    <th>Inputs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div th:replace="~{fragment/tagBox :: tagBox(${carStereo.brands})}"></div></td>
                                    <td><div th:replace="~{fragment/tagBox :: tagBox(${carStereo.sizes})}"></div></td>
                                    <td><div th:replace="~{fragment/tagBox :: tagBox(${carStereo.displays})}"></div></td>
                                    <td><div th:replace="~{fragment/tagBox :: tagBox(${carStereo.inputs})}"></div></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="content">
                            <h3 class="is-size-5">Description</h3>
                            <p style="white-space: pre-wrap;" th:text="${carStereo.description}"></p>
                        </div>

                        <div class="content" th:if="${carStereo.pricingInfos != null && !carStereo.pricingInfos.isEmpty()}">
                            <h3 class="is-size-5">Pricing Info</h3>
                            <div th:each="info : ${carStereo.pricingInfos}" class="mb-5">
                                <h4 class="is-size-6" th:text="${#strings.capitalize(info.website)} + ' (Last updated: ' + ${#temporals.format(info.lastUpdated, 'yyyy-MM-dd HH:mm')} + ')'"></h4>
                                <table class="table is-narrow is-fullwidth" th:if="${info.prices != null && !info.prices.isEmpty()}">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;">Image</th>
                                            <th>Price</th>
                                            <th>Link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="priceItem : ${info.prices}">
                                            <td>
                                                <figure class="image is-64x64" th:if="${priceItem.image != null}">
                                                    <img th:src="${priceItem.image}" alt="Item image">
                                                </figure>
                                            </td>
                                            <td th:text="${priceItem.price} + ' ' + ${T(dev.wildilde.car_stereo_wiki.service.PricingService).EBAY_PRICE_CURRENCY}"></td>
                                            <td><a th:href="${priceItem.link}" target="_blank">View on Website</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p th:unless="${info.prices != null && !info.prices.isEmpty()}">No recent sales found.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{template :: footer}"></footer>
</body>
</html>
