<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: head(${carStereo.id == 0 ? 'Add New Car Stereo' : 'Edit ' + carStereo.name} + ' - Car Stereo Wiki')}">
    <title th:text="${carStereo.id == 0 ? 'Add New Car Stereo' : 'Edit ' + carStereo.name} + ' - Car Stereo Wiki'">Edit Car Stereo</title>
</head>
<body>
<header th:replace="~{template :: header}"></header>
<section class="section">
    <div class="container">
        <h1 class="title" th:text="${carStereo.id == 0 ? 'Add New Car Stereo' : 'Edit Car Stereo'}">Edit Car Stereo</h1>
        <form th:action="${carStereo.id == 0 ? '/carStereo/add' : '/carStereo/' + carStereo.name + '/edit'}" th:object="${carStereo}" method="post">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{name}" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Year</label>
                <div class="control">
                    <input class="input" type="number" th:field="*{year}" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Min Price</label>
                <div class="control">
                    <input class="input" type="number" th:field="*{minPrice}" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Gallery Images</label>
                <div class="block" id="gallery-inputs">
                    <div class="field has-addons" th:each="image : ${carStereo.galleryImages}">
                        <div class="control is-expanded">
                            <input class="input" type="text" name="galleryImageUrls" th:value="${image.imageURL}" placeholder="https://example.com/image.jpg">
                        </div>
                        <div class="control">
                            <div class="file is-info">
                                <label class="file-label">
                                    <input class="file-input upload-image" type="file" name="imageFile" accept="image/*">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">Upload</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="control">
                            <button type="button" class="button is-danger remove-image">Remove</button>
                        </div>
                    </div>
                    <div class="field has-addons" th:if="${carStereo.galleryImages == null || carStereo.galleryImages.isEmpty()}">
                        <div class="control is-expanded">
                            <input class="input" type="text" name="galleryImageUrls" value="" placeholder="https://example.com/image.jpg">
                        </div>
                        <div class="control">
                            <div class="file is-info">
                                <label class="file-label">
                                    <input class="file-input upload-image" type="file" name="imageFile" accept="image/*">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">Upload</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="control">
                            <button type="button" class="button is-danger remove-image">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <button type="button" class="button is-small is-primary" id="add-image">Add Image</button>
                </div>
            </div>

            <div class="field">
                <label class="label">Resources</label>
                <div class="block" id="resource-inputs">
                    <div class="field has-addons" th:each="resource : ${carStereo.resources}">
                        <div class="control">
                            <input class="input" type="text" name="resourceIcon" th:value="${resource.icon}" placeholder="fas fa-file-pdf">
                        </div>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="resourceName" th:value="${resource.name}" placeholder=".pdf">
                        </div>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="resourceLink" th:value="${resource.link}" placeholder="https://example.com/resource.pdf">
                        </div>
                        <div class="control">
                            <button type="button" class="button is-danger remove-resource">Remove</button>
                        </div>
                    </div>
                    <div class="field has-addons" th:if="${carStereo.resources == null || carStereo.resources.isEmpty()}">
                        <div class="control">
                            <input class="input" type="text" name="resourceIcon" placeholder="fas fa-file-pdf">
                        </div>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="resourceName" placeholder=".pdf">
                        </div>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="resourceLink" placeholder="https://example.com/resource.pdf">
                        </div>
                        <div class="control">
                            <button type="button" class="button is-danger remove-resource">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <button type="button" class="button is-small is-primary" id="add-resource">Add Resource</button>
                </div>
            </div>

            <script src="/js/carStereoEdit.js"></script>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" th:field="*{description}" rows="10"></textarea>
                </div>
            </div>

            <div class="columns is-multiline">
                <div class="column is-one-quarter">
                    <div class="field">
                        <label class="label">Brands</label>
                        <div class="control">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control" th:each="tag : ${allBrands}">
                                    <div class="tags has-addons">
                                        <label class="tag" th:for="${'brand-' + tag.id}"
                                               th:data-tag="${tag.name}"
                                               th:text="${tag.name}">Brand</label>
                                        <div class="tag">
                                            <input type="checkbox" name="brands" th:id="${'brand-' + tag.id}" th:value="${tag.id}" 
                                                   th:checked="${carStereo.brands != null && carStereo.brands.contains(tag)}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="field">
                        <label class="label">Sizes</label>
                        <div class="control">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control" th:each="tag : ${allSizes}">
                                    <div class="tags has-addons">
                                        <label class="tag" th:for="${'size-' + tag.id}"
                                               th:data-tag="${tag.name}"
                                               th:text="${tag.name}">Size</label>
                                        <div class="tag">
                                            <input type="checkbox" name="sizes" th:id="${'size-' + tag.id}" th:value="${tag.id}"
                                                   th:checked="${carStereo.sizes != null && carStereo.sizes.contains(tag)}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="field">
                        <label class="label">Displays</label>
                        <div class="control">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control" th:each="tag : ${allDisplays}">
                                    <div class="tags has-addons">
                                        <label class="tag" th:for="${'display-' + tag.id}"
                                               th:data-tag="${tag.name}"
                                               th:text="${tag.name}">Display</label>
                                        <div class="tag">
                                            <input type="checkbox" name="displays" th:id="${'display-' + tag.id}" th:value="${tag.id}"
                                                   th:checked="${carStereo.displays != null && carStereo.displays.contains(tag)}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="field">
                        <label class="label">Inputs</label>
                        <div class="control">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control" th:each="tag : ${allInputs}">
                                    <div class="tags has-addons">
                                        <label class="tag" th:for="${'input-' + tag.id}"
                                               th:data-tag="${tag.name}"
                                               th:text="${tag.name}">Input</label>
                                        <div class="tag">
                                            <input type="checkbox" name="inputs" th:id="${'input-' + tag.id}" th:value="${tag.id}"
                                                   th:checked="${carStereo.inputs != null && carStereo.inputs.contains(tag)}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit" th:text="${carStereo.id == 0 ? 'Create' : 'Save Changes'}">Save Changes</button>
                </div>
                <div class="control">
                    <a class="button is-link is-light" th:href="${carStereo.id == 0 ? '/' : '/carStereo/' + carStereo.name}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>
<footer th:replace="~{template :: footer}"></footer>
</body>
</html>
